<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
			{{ with .Site.Params.author }}
					{{ if isset . "avatar" }}
				<li><a href="{{ "/about/" | relURL }}" class="author-photo"><img src="{{ .avatar | relURL }}" alt="{{ .name }}'s photo"></a></li>
					{{ end }}
				<li><h4>{{ .name }}</h4></li>
				<li><p>{{ .bio }}</p></li>
				<li class="dl-icons">
				{{ if isset . "email" }}
					<a href="mailto:{{ .email }}"><i class="fa fa-fw fa-envelope"></i></a>
			{{ end }}
				{{ if isset . "github" }}
					<a href="https://github.com/{{ .github }}"><i class="fa fa-fw fa-github"></i></a>
				{{ end }}
				{{ if isset . "twitter" }}
					<a href="https://twitter.com/{{ .twitter }}"><i class="fa fa-fw fa-twitter"></i></a>
				{{ end }}
				{{ if isset . "facebook" }}
					<a href="https://facebook.com/{{ .facebook }}"><i class="fa fa-fw fa-facebook"></i></a>
				{{ end }}
				{{ if isset . "google_plus" }}
					<a href="https://google.com/{{ .google_plus }}"><i class="fa fa-fw fa-google-plus"></i></a>
				{{ end }}
				{{ if isset . "linkedin" }}
					<a href="https://linkedin.com/in/{{ .linkedin }}"><i class="fa fa-fw fa-linkedin"></i></a>
				{{ end }}
				{{ if isset . "stackexchange" }}
					<a href="{{ .stackexchange }}"><i class="fa fa-fw fa-stack-exchange"></i></a>
				{{ end }}
				{{ if isset . "instagram" }}
					<a href="https://instagram.com/{{ .instagram }}"><i class="fa fa-fw fa-instagram"></i></a>
				{{ end }}
				{{ if isset . "flickr" }}
					<a href="https://www.flickr.com/photos/{{ .flickr }}"><i class="fa fa-fw fa-flickr"></i></a>
				{{ end }}
				{{ if isset . "tumblr" }}
					<a href="http://{{ .tumblr }}.tumblr.com"><i class="fa fa-fw fa-tumblr"></i></a>
				{{ end }}</li>
			{{ end }}
		<li><a href="{{ "/" | relURL }}">Home</a></li>
		<li>
			<a class="dl-menuheader" href="#">Posts</a>
			<ul class="dl-submenu">
				<li><a href="{{ "/posts/" | relURL }}">All Posts</a></li>
				<li><a href="{{ "/tags/" | relURL }}">All Tags</a></li>
			</ul>
		</li>
		{{ range .Site.Data.navigation.links }}
	    <li><a href="{{ .url | relURL }}" {{ if in .url "http" }}target="_blank"{{ end }}>{{ .title }}</a></li>
	  {{ end }}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
